*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
/TrainingSystem/target/
/TrainingSystemFrontend/node_modules/
/TrainingSystemFrontend/dist/
~$*.docx
~$*.xlsx
/TrainingSystem/src/main/resources/databases.properties

/TrainingSystem/output/
/TrainingSystem/tmp/
/TrainingSystem/tools/
/TrainingSystem/database/

/TrainingSystem/baocao_chinhsua_hethong.md
/TrainingSystem/ghichu_ban_giao_01.md
/TrainingSystem/ghichu_ban_giao_ui_02.md
/TrainingSystem/ghichu_ke_hoach_ky_thuat_01.md
/TrainingSystem/nangcap.md

/Báo cáo.docx
/Bao cao Do an.pdf
